*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*border-style: none;*/
}

ul, ol {
  padding-left:20px;
}

body {
  /* 裏の画像ファイルの指定 */
  background-image: url(picture/star.jpg);
   
  /* 画像を常に天地左右の中央に配置 */
  background-position: right;
   
  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

  line-height: 180%;
}

/*コード書く時ときの*/
pre.prettyprint {
  overflow: auto;
  resize: horizontal;
  padding-left:40px;
  line-height: 100%;
}
pre.prettyprint ol.linenums > li {
  list-style-type: decimal; 
}

.code_kekka{
	background-color:#333333;
	color: #ffffff;
	padding-left:40px;
	line-height: 100%;
}

.hr_hajime{
	border-top: 1px solid #000000;
}
.hr_subtitle{
	border-top: 1px solid #bbbbbb;
}

header {
	height: 250px;
	width: 50%;
	padding: 40px 0 0 0;
	margin: 20px 0 0 7%;
	float: left;
}
/*body*/
.main {
	width: 95%;
	height: auto;
	font-size:10;
	margin: 0 0 5% 5%;
}

.a1 {
	width: 60%;
	height: 100%;
	display: inline-block;
	margin:0 2% 5% 0%;
	padding:1%;
	float:left;
	background-color: #FFFFFF;
	position: relative;
}
.a2 {
	width: 25%;
	/*height: 300px;*/
	display: inline-block;
	margin:0 0 5% 5%;
	padding:1%;
	float:left;
	background-color: #FFFFFF;
    text-align: left;
    word-break:break-all;
}
/*.comment_bottom {
	position: absolute;
	bottom: 0px;
}
*/
/*まるでかこむ(タグ専用)*/
.box2 {
    padding: 0 5px;
    margin: 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 1px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}
/*アイコン画像用*/
.icon {
    width:  50px;       /* ※縦横を同値に */
    height: 50px;       /* ※縦横を同値に */
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center;  /* 横長画像の左上を基準に表示 */
    padding:0;
    margin:0 5px;
}
/*アイコン画像用(拡大)*/
.icon_large {
    width:  800px;       /* ※縦横を同値に */
    height: 800px;       /* ※縦横を同値に */
        border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    background-position: center;  /* 横長画像の左上を基準に表示 */
    padding:0;
    margin:0 5px;
}
footer {  
	clear:left;
	margin:0px;
	padding:0;
	bottom: 0px;
  	width:100%;
	height:50px;
	text-align: center;
	background-color: #848282;
}

.footer-text{
	color: #fff;
}